h1 {
	color: blue;
	font-weight: bolder;
}

body {
	background-color: gray;
}

<<<<<<< HEAD
#header {
=======
header {
>>>>>>> 6db75fb3dd8eb6aabf9c5f127512b7151f6c2724
	text-align: center;
}

nav {
	text-align: center;
	font-weight: bold;
	color: #8080ff
	background-color: #ffb3b3
}
